.venv/
.idea/
.vscode/
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/npm-debug.log*
backend/__pycache__/
backend/**/*.pyc
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/models_weights/yolov8x.pt
*.log
.DS_Store